.root {
    flex-direction: row;
    display: inline;
    /* width: 40vw; */
    margin-left: 3rem;
    margin-right: 3rem;
    /* min-width: 17rem !important;
    max-width: 17rem !important; */
  }

.media {
    align-items: center;
    justify-content: center;
}
.cardContainer {
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: '#fff';
    margin: 1rem;
    padding: 2rem;
    box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 10px;
}
.imageContainer{
  justify-content: center;
  align-content: center;
  width: 15rem;
}
.cardBox{
  margin: 1rem;
  width: 33vw;
  display: flex;
  padding: 0.3rem;
  /* background-color: red; */
  border-radius: 5px;
}
.cardContent {
  justify-content: flex-end;
  min-height: 7rem;
}

/* modal css */

.modalBox{
  margin-top: 4rem;
}